<!DOCTYPE html>
<html>
<head>
    <title>Mag range</title>
</head>
<body>
    <h1> 1001568781 Chaudhary, Nishant </h1>

    <h1>Search for Data</h1>
    <form method="POST">
      <div class="container">
        <label for="Range"><b> Magnitude Value(Lower)</b></label>
        <input type="text" name="starting">
        <label for="Range"><b> Magnitude Value(higher)</b></label>
        <input type="text" name="ending">
        <br>
        <label for="date"><b> Starting Date (YYYY-MM-DD)</b></label>
        <input type="text" name="starting_date">
        <label for="date"><b> Ending Date (YYYY-MM-DD)</b></label>
        <input type="text" name="ending_date">
        <br>
        <br>
        <button type="submit" class="registerbtn" formaction="/magbyrange">Search</button>

      </div>
      </form>

</body>
</html>
