<!DOCTYPE html>
<html>
<head>
    <title>Search Clusters</title>
</head>
<body>
    <h1> 1001568781 Chaudhary, Nishant </h1>

    <h1>Search for Data</h1>

    <form action="/grid" method="POST" >
      <div class="container">
        <label for="Range"><b> Current Latitude</b></label>
        <input type="text" name="lat1">
        <label for="Range"><b> Current Longitude</b></label>
        <input type="text" name="lon1">
        <label for="Range"><b> Target Latitude</b></label>
        <input type="text" name="lat2">
        <label for="Range"><b> Target Longitude</b></label>
        <input type="text" name="lon2">
        <br>
        <button type="submit" class="registerbtn">Search</button>
      </div>
    </form>
</body>
</html>
