<!DOCTYPE html>
<html>
<head>
    <title>View from a place</title>
</head>
<body>
    <h1> 1001568781 Chaudhary, Nishant </h1>

    <h1>Search for Data</h1>

    <form action="/distanceresult" method="POST">
      <div class="container">
        <label for="Salary"><b> Current Latitude</b></label>
        <input type="text" name="lat">
        <label for="Salary"><b> Current Longitude</b></label>
        <input type="text" name="lon">
        <label for="Salary"><b> Distance Range</b></label>
        <input type="text" name="dist">
        <br>
        <button type="submit" class="registerbtn">Search</button>
      </div>
    </form>
</body>
</html>
