<!DOCTYPE html>
<html>
<head>
    <title>Clusters</title>
</head>
<body>
    <form id="visualizeData" action = "/centroiddata" method = "POST">
            <p>X-axis:
                <select name="xaxis">
                    <option value="cabinnum">Cabin Number</option>
                    <option value="lat">Lat</option>
                    <option value="age">Age</option>
                    <option value="wealth">Wealth</option>
                    <option value="height">Height</option>
                    <option value="education">Education</option>

                    <option value="fare">Fare</option>

                    <!-- <option value="boat">boat</option>
                    <option value="body">body</option> -->
                </select>
            </p>
            <p>Y-axis:
                <select name="yaxis">
                    <option value="cabinnum">Cabin Number</option>
                    <option value="lat">Lat</option>
                    <option value="age">Age</option>
                    <option value="wealth">Wealth</option>
                    <option value="height">Height</option>
                    <option value="education">Education</option>

                    <option value="fare">Fare</option>
                    <!-- <option value="boat">boat</option>
                    <option value="body">body</option> -->
                </select>
            </p>
            <p>Number of Clusters: <input type = "text" name = "kclusters" value="0"/></p>

            <label for="Name"><b>Cluster Point x</b></label>
        <input type="text" placeholder="Enter Points" name="x">

        <label for="Name"><b>Cluster Point y</b></label>
        <input type="text" placeholder="Enter Points" name="y">
            <p><input type = "submit" value = "submit" /></p>
        </form>
</body>
</html>






