<!DOCTYPE html>
<html>
<head>
    <title>Distance from</title>
</head>
<body>
    <h1> 1001568781 Chaudhary, Nishant </h1>
    <form action="/distance" method="POST">
      <div class="container">

        <label for="Name"><b> Point x</b></label>
        <input type="text" placeholder="Enter Points" name="x">

        <label for="Name"><b> Point y</b></label>
        <input type="text" placeholder="Enter Points" name="y">


        <br>
        <button type="submit" class="registerbtn">Search</button>
      </div>
    </form>
</body>
</html>
