<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Centroid", "Count", { role: 'annotation' } ],
        {%for list in data%}
                [{{list[2]}}, {{list[1]}}, '{{list[0]}}'],

            {%endfor%}

      ]);

      var view = new google.visualization.DataView(data);


      var options = {
        title: "Count and centroids",
        width: 800,
        height: 800,
        bar: {groupWidth: "50%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
</head>
<body>
<div id="columnchart_values" style="width: 900px; height: 300px;"></div>
</body>
</html>
