<!DOCTYPE html>
<html>
<head>
    <title>Random input</title>
    <style type="text/css">
        .text{
            color: Blue;
            size: 100px;
        }
    </style>
</head>
<body>
    <h1 class="text"> 1001568781 Chaudhary, Nishant </h1>
    <form action="/randominputresult" method="POST">
      <div class="container">

        <label for="Name"><b> Number of iterations</b></label>
        <input type="text" placeholder="Enter Points" name="num">

        <br>
        <button type="submit" class="registerbtn">Search</button>
      </div>
    </form>
</body>
</html>
