<!DOCTYPE html>
<html>
<head>
    <title>Magnitude Range</title>
</head>
<body>
       <h1> 1001568781 Chaudhary, Nishant </h1>
    <form action="/searchbymagnitude" method="POST">
      <div class="container">

        <label for="Name"><b> Magnitude Starting Range</b></label>
        <input type="text" placeholder="Enter Points" name="start">

        <label for="Name"><b> Magnitude Ending Range</b></label>
        <input type="text" placeholder="Enter Points" name="end">

        <br>
        <button type="submit" class="registerbtn">Search</button>
      </div>
    </form>
</body>
</html>
